<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My To-Do List</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="disconnect()">Disconnect</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="todo-container">
    <h1>My Tasks</h1>

    <ion-item>
      <ion-label position="floating">Filter by Category</ion-label>
      <ion-select placeholder="Select a category" [(ngModel)]="selectedCategoryId" (ionChange)="loadTasks()">
        <ion-select-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-list *ngIf="filteredTasks().length > 0; else noTasks">
      <ion-item-sliding *ngFor="let task of filteredTasks()">
        <ion-item>
          <ion-label>
            <h3>{{ task.name }}</h3>
            <p>Created on: {{ task.createdAt | date: 'short' }}</p>
          </ion-label>
          <ion-checkbox
            slot="end"
            [(ngModel)]="task.completed"
            (ionChange)="toggleCompleted(task)"
          ></ion-checkbox>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteTask(task.id)">
            Delete
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ng-template #noTasks>
      <p class="no-tasks-message">No tasks available for this category.</p>
    </ng-template>

    <div class="button-container">
      <ion-button expand="block" color="secondary" (click)="openCategoryManager()">
        Manage Categories
      </ion-button>
      <ion-button expand="block" color="tertiary" (click)="openCreateTask()">
        Create Task
      </ion-button>
    </div>
  </div>
</ion-content>
