// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-dark: #121212; /* Couleur sombre personnalisée */
    --ion-color-dark-rgb: 18, 18, 18;
    --ion-color-dark-contrast: #ffffff; /* Texte blanc pour contraster */
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #0e0e0e;
    --ion-color-dark-tint: #1c1c1c;
  }
  