<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Todo App made by RAYMAX
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Todo App made by RAYMAX</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to use the TodoRay? Let's get into it</strong>
    <p>Start with <a (click)="navigateToMenu()">TodoRay</a></p>
  </div>
</ion-content>
